services:
  api:
    container_name: go-url-shortener
    build: .
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_ADDR=redis:6379

    ports:
      - "8080:8080"
    
    depends_on:
      postgres_db:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres_db:
    image: postgres:17.1-bookworm
    container_name: shortened-url-postgres

    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    
  redis:
    image: redis:latest
    container_name: shortened-url-redis
  
    ports:
      - "6379:6379"

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
      start_period: 5s

volumes:
  postgres_data: